
html, body {
  height: 100%;
  margin: 0;
}

#page1 {

  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

#page2 {

  min-height: 90%;
  min-height: 90vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

#disclaimer {

  min-height: 10%;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

.content {
  margin: 15px auto 15px auto;
}

.bckgr-image {
  background-image: url("../images/Concept20.jpg");
  background-size: contain;
  background-color: black;
}

#page3 {

  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}
