
html, body {
  height: 100%;
  margin: 0;
}

/* HYPERLINK COLORS */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #B61E84;
  text-decoration: none;
}

#page2 a {
  color: #B61E84;
  text-decoration: none;
}

#page2 a:hover {
  color: black;
  text-decoration: none;
}


/* PAGE 1 */

#page1 {

  font-family: 'Saira Semi Condensed', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

#page1 .content {
  width: 60%;
  max-width: 800px;
}

#page1 .agwguild-level {
  font-size: .5em;
  color: white;
  display: inline-block;
  border: 1px solid black;
  background-color: black;
  padding: 3px 12px 3px 12px;
  text-transform: uppercase;
}

#page1 .agwguild, #page1 .dolyakrushlogo {
  margin-bottom: 32px;
}

.agwguild img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 12px;
}

.dolyakrushlogo img {
  width: 100%;
  max-width: 1024px;
  height: auto;
}

.morelink {
  margin-top: 60px;
  text-transform: uppercase;
}

#page2 {

  border-top: 4px solid black;
  font-family: 'Saira Semi Condensed', sans-serif;
  min-height: 94%;
  min-height: 94vh;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../images/Concept20.jpg");
  background-size: cover;
}

#page2 .agwguild-level, #page2 .agwguild-location {
  color: white;
  display: inline-block;
  padding: 3px 12px 3px 12px;
  text-transform: uppercase;
}

#page2 .agwguild-level {
  background-color: black;
}

#page2 .agwguild-location {
  background-color: #B61E84;
}

#page2 h1 {
  margin-bottom: 1.6em;
}

.page2info {
  min-width: 100%;
  height: auto;
  margin: 0 auto;
}

.page2text {
  background-color: rgba(255,255,255,0.8);
  padding: 30px 30px 30px 30px;
}

.account-info {
  margin: auto;
  margin-bottom: 1em;
  width: 80%;
}

.account-id {
  font-weight: 700;
  font-size: 1.2em;
}

.account-title {
  font-size: .8em;
  font-style: italic;
}


#disclaimer {

  min-height: 6%;
  min-height: 6vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.copyright {
  font-size: .8em;
}

.content {
  margin: 15px auto 15px auto;
}

/* .bckgr-image {
  background-image: url("../images/Concept20.jpg");
  background-size: cover;
  background-color: black;
} */

#page3 {

  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}
