
html, body {
  height: 100%;
  margin: 0;
}

/* HYPERLINK COLORS */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #B61E84;
  text-decoration: none;
}

#about a, #onepage a {
  color: #B61E84;
  text-decoration: none;
}

#about a:hover, #onepage a:hover {
  color: black;
  text-decoration: none;
}


/* PAGE 1 */

#splash {

  font-family: 'Saira Semi Condensed', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

#splash .content {
  width: 60%;
  max-width: 800px;
}

#splash .level {
  font-size: .5em;
  color: white;
  display: inline-block;
  background-color: black;
  padding: 3px 12px 3px 12px;
  text-transform: uppercase;
}

#splash .agwguild, #splash .dolyakrushlogo {
  margin-bottom: 32px;
  white-space: nowrap;
}

.agwguild img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 12px;
}

.dolyakrushlogo img {
  width: 100%;
  max-width: 1024px;
  height: auto;
}

.morelink {
  margin-top: 60px;
  text-transform: uppercase;
}

#about {

  border-top: 4px solid black;
  font-family: 'Saira Semi Condensed', sans-serif;
  min-height: 94%;
  min-height: 94vh;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#about .level, #about .location, .overline, .addendum {
  color: white;
  display: inline-block;
  padding: 3px 12px 3px 12px;
  text-transform: uppercase;
}

#about .level, .overline {
  background-color: black;
}

#about .location, .addendum {
  background-color: #B61E84;
}

#about h1, .onepage h1 {
  margin-bottom: 1.6em;
}

.page2info {
  min-width: 100%;
  height: auto;
  margin: 0 auto;
}

.textblock {
  background-color: rgba(255,255,255,0.8);
  padding: 30px 30px 30px 30px;
}

.account-info {
  margin: auto;
  margin-bottom: 1em;
  width: 80%;
}

.account-id {
  font-weight: 700;
  font-size: 1.2em;
}

.account-title {
  font-size: .8em;
  font-style: italic;
}


#disclaimer {

  min-height: 6%;
  min-height: 6vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.copyright {
  font-size: .8em;
}

.content {
  margin: 15px auto 15px auto;
}

/* .bckgr-image {
  background-image: url("../images/Concept20.jpg");
  background-size: cover;
  background-color: black;
} */

/* NORMAL CONTENT */

.onepage {

  border-top: 4px solid black;
  font-family: 'Saira Semi Condensed', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#about {
  background-image: url("../images/Concept20.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

#resources {
  background-image: url("../images/Concept16.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
